// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:600,700,800,900&display=swap');

$dark-grey: #808080;
$light-grey: #C0C0C0;
$almost-white: #FEFEFE;

$claret: #810346;
$medium-violet: #976198;
$soft-pistaccio: #C0ECC3;
$medium-teal: #4CCDA4;
$light-violet: #FFEDFE;
$dark-sea: #073B2A;

html, body, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1vw;
  font-weight: 900;
  color: $dark-grey;
  background: $soft-pistaccio;
}

h1 {
  color: $medium-violet;
  font-family: 'Righteous';
  font-size: 7vw;
  text-shadow:
      0.05vw 0.05vw $almost-white,
      0.1vw 0.1vw $almost-white,
      0.15vw 0.15vw $almost-white,
      0.2vw 0.2vw $almost-white,
      0.25vw 0.25vw $almost-white,
      0.3vw 0.3vw $almost-white,
      0.35vw 0.35vw $almost-white,
      0.4vw 0.4vw $almost-white,
      0.45vw 0.45vw $almost-white,
      0.5vw 0.5vw $almost-white
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px $almost-white inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: $dark-grey !important;
}

input {
  border-radius: 4px;
}

input[type=text] {
  padding: 1.52vw 2vw;
  margin-right: 3vw;
  width: 40vw;
  font-size: 1.6vw;
  color: $dark-sea;
  background: $light-violet;
  border: 0;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.1vw;
  border-radius: 5vw;
}

::placeholder {
  color: $light-grey;
  opacity: 1;
}

input[type=submit] {
  padding: 1.4vw 5vw;
  color: $almost-white;
  background-color: $claret;
  font-family: inherit;
  font-weight: 800;
  font-size: 1.8vw;
  letter-spacing: 0.16vw;
  border: 0;
  border-radius: 5vw;
}

input:focus {
  outline: none;
}

a, a:active, a:hover, a:visited {
  text-decoration: none;
  color: $almost-white;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content-container {
  background: $almost-white;
  width: 90vw;
  height: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2vw;
}

.letter-container {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.letter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7vw;
  height: 7vw;
  font-size: 2.4vw;
  font-weight: 800;
  background-color: $medium-teal;
  color: $almost-white;
  border-radius: 4vw;
}

.letter-form {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.title {
  margin-top: 4vw;
}

.self-centered {
  align-self: center;
}

.result {
  font-size: 2vw;
  font-weight: 700;
  color: $dark-sea;
  line-height: 4vw;
}

.play-again {
  margin-top: 7vw;
}

.btn-play-again {
  padding: 1.4vw 5vw;
  color: $almost-white;
  background-color: $claret;
  font-family: inherit;
  font-weight: 800;
  font-size: 1.8vw;
  letter-spacing: 0.16vw;
  border: 0;
  border-radius: 5vw;
}
